.container {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F4F4FB;
}

/* NAVIGATION SIDEBAR */

.sidebar {
  width: 100%;
  height: 5%;
  position: fixed;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

.sidebar .menu {
  margin-left: auto;
  display: inline-block;
  width: fit-content;
  margin-left: 5%;
}

.sidebar button {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  width: 120px;
  padding: 9px;
  border: none;
  text-align: center;
  background-color: transparent;
  font-size: 16px;
  transition: 0.1s ease-out;
}

.sidebar button:hover {
  transition: 0.2s ease-in;
  color: #5e69ee;
  background: linear-gradient(to right, #5e69ee, #39AFEA);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

/* .sidebar button:active {
  transition: 0.2s ease-in;
  background-color: #5e69ee;
} */

/* DASHBOARD CARDS */

.main {
  top: 7%;
  position: fixed;
  width: 100%;
  height: 93%;
  padding: 10px;
}

.main .card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 200px;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.main .bigCard {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  margin: 20px;
  display: inline-block;
  text-align: center; 
}

.main .hugeCard {
  background-color: white;
  border-radius: 10px;
  width: 96%;
  height: 95%;
  margin-left: 1%;
  display: inline-block;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.main .card h1, .bigCard h1 {
  font-size: 20px;
}

/* FOR TABLES */

.cell {
  width: 110px;
  padding: 10px;
  display: inline-block;
}

input {
  width: 150px;
  border: 1px solid white;
}

input::-webkit-input-placeholder {
  color: black;
  font-size: 16px;
  text-align: center;
}